img{ width: 20%;
    height: 40%;
  

}
body {
    text-align:center;
    background-image: url(tree.jpg);
    
    
}
   

input{
    width: 550px;
    height: 30px;
    background-color: transparent;
    border-color:white;
    color: white;
    border-radius: 5px;
}

#pesquisa{ 
    border-radius: 5px;
    cursor: pointer;
    width: 170px;
    height: 30px;
    background-color:transparent;
    border-color:white;
    text-decoration: none;
    color: white;  
}

button{
    border-radius: 5px;
    cursor: pointer;
    width: 170px;
    height: 30px;
    background-color:transparent;
    border-color:white;

    
    
}

button :hover{
    transition: 0.5s;
    background-color:black;
    
    

}
     




