body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    background-color: rgba(245, 245, 245, 0.87);
}

#header{
    background-color: rgb(17, 219, 142);
    height: 80px;
}

#section-one{
    font-size: medium;
}

#section-two{
    font-size: medium;
}

#footer{
    margin:auto;
    height: 40px;
    line-height: 40px;
    background-color: rgb(17, 219, 142);
    display: block;
    
}
.menu-list-links{
    text-decoration: none;
    font-size: x-large;
    margin: 15px;
    line-height: 70px;
}
img{
    margin: 20px;
}
/* MOST SMARTPHONES*/
@media screen and (max-width:730px){
    #header{
       height:50px;
    }
    .menu-list-links{
        font-size:smaller;
        line-height:50px;
        margin: 1px;
        display: inline-block;
    }
    
    img{
        width: 300px;
        height: 200px;
        
    }

    #footer{
        height: 20px;
        line-height: 20px;
        font-size: xx-small;
    }
    #section-one{
       font-size: x-small;
    }
}
    /*APPLE MINI SMARTPHONES*/
    @media screen and (max-width:350px){
        #header{
            display: none;
         }
         .menu-list-links{
            display: none;
         }
         
         img{
             width: 200px;
             height: 100px;
             margin: 0px;

    }
    #section-two{
        font-size: smaller;
    }
    #footer{
        height: 10px;
        line-height: 10px;
        margin: auto;
        font-size:xx-small ;
    }
}
/*SMARTWATCHES*/
@media screen and (max-width:200px){
    #section-one{
        display: none;
    }
    #section-two{
        font-size: x-small;
    }
    img{
        width: 100px;
        height: 80px;
        margin: 5px;
    }

    #footer{
        height: 10px;
        line-height: 9px;
        font-size: 0.1ch;
        margin-bottom: 25px;
        border-radius: 1px;   
    }
}
